{{define "schema_card"}}
<div class="card" style="height: 400px;">
    <a href="{{BaseURL}}schema/{{.Schema.UserName}}/{{.Schema.Name}}">
        <img src="{{BaseURL}}api/schema/{{.Schema.ID}}/screenshot?height=240&width=360" class="card-img-top img-fluid" style="background-color: #3c3737;">
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <p>
                <a href="{{BaseURL}}schema/{{.Schema.UserName}}/{{.Schema.Name}}">
                    {{ .Schema.Name }}
                </a>
            </p>
            <p>
                <small class="text-muted">by {{ .Schema.UserName }}</small>
                &nbsp;
                {{ if gt .Schema.Stars 0 }}
                    <i class="fa fa-star" style="color: yellow;"></i>
                    <span class="badge bg-secondary rounded-pill">{{ .Schema.Stars }}</span>
                {{else}}
                    <i class="fa-regular fa-star"></i>
                {{end}}
            </p>
        </h5>
        <p>
            {{range .Schema.Tags}}
            <span class="badge bg-success">
                <i class="fas fa-tag"></i>
                {{.}}
            </span>
            {{end}}
        </p>
        <p>
            {{ prettysize .Schema.TotalSize }};
            {{ .Schema.SizeX }} / 
            {{ .Schema.SizeY }} / 
            {{ .Schema.SizeZ }} nodes
        </p>
    </div>
</div>
{{end}}