version: "3.6"

services:
 postgres:
  image: postgres:16.1
  restart: always
  environment:
   POSTGRES_PASSWORD: enter
  volumes:
   - "postgres:/var/lib/postgresql/data"
  command:
   - "postgres"
   - "-c"
   - "log_statement=all"

 blockexchange:
  image: golang:1.22.4
  depends_on:
   - postgres
  volumes:
   - ".:/data"
   - "go_dir:/go"
   - "go_cache:/.cache"
  environment:
   - PGUSER=postgres
   - PGPASSWORD=enter
   - PGHOST=postgres
   - PGDATABASE=postgres
   - PGPORT=5432
   - LOGLEVEL=debug
   - BLOCKEXCHANGE_NAME=My-Blockexchange
   - BLOCKEXCHANGE_OWNER=yourname
   - BLOCKEXCHANGE_KEY=abcdefSecretKey
   - BLOCKEXCHANGE_COOKIE_PATH=/
   - BLOCKEXCHANGE_COOKIE_DOMAIN=localhost
   - BLOCKEXCHANGE_COOKIE_SECURE=false
   - BLOCKEXCHANGE_TEST_DATA=true
   - BASE_URL=http://localhost:8080
   - EXECUTE_JOBS=true
   - WEBDEV=true
  ports:
   - "8080:8080"
  working_dir: /data
  command: ["go", "run", "."]

 minetest:
  image: registry.gitlab.com/minetest/minetest/server:5.7.0
  user: root
  volumes:
   - "world_data:/root/.minetest/worlds/world"
   - "./dev/worldmods:/root/.minetest/worlds/world/worldmods"
   - "./dev/minetest.conf:/etc/minetest/minetest.conf"
  ports:
   - "30000:30000/udp"

 mod-integration-test:
  image: registry.gitlab.com/minetest/minetest/server:5.7.0
  user: root
  volumes:
   - "./dev/minetest-test.conf:/etc/minetest/minetest.conf:ro"
   - "./dev/worldmods:/root/.minetest/worlds/world/worldmods"
  environment:
   http_proxy: ""
   https_proxy: ""
   HTTP_PROXY: ""
   HTTPS_PROXY: ""

 integration-test:
  image: golang:1.22.4
  depends_on:
   - postgres
  volumes:
   - ".:/data"
   - "go_dir:/go"
   - "go_cache:/.cache"
  environment:
   - PGUSER=postgres
   - PGPASSWORD=enter
   - PGHOST=postgres
   - PGDATABASE=postgres
   - PGPORT=5432
   - LOGLEVEL=debug
  working_dir: /data
#  command: ["go", "test", "-run", "TestSearchSchema", "./..."]
  command: ["go", "test", "./...", "-p", "1", "-coverprofile=profile.cov"]

volumes:
  postgres: {}
  world_data: {}
  go_cache: {}
  go_dir: {}
