{{define "title"}}Edit schema{{end}}
{{define "content"}}
{{ block "breadcrumb" .Breadcrumb }}{{end}}

<script>
var formSubmitting = false;
var setFormSubmitting = function() { formSubmitting = true; };
window.onbeforeunload = function() { return formSubmitting ? null : "" };
</script>

<form method="POST" onsubmit="setFormSubmitting()">
    {{ CSRFField }}
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" name="name" value="{{ .Schema.Name }}"/>
        </div>
        <div class="col-md-6">
            <div class="btn-group float-end">
                <button class="btn btn-sm btn-success" name="action" value="save">
                    <i class="fa fa-save"></i> Save
                </button>
                <a class="btn btn-sm btn-warning" href="../{{.Schema.Name}}">
                    <i class="fa fa-trash"></i> Abort
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    <ul>
                        <li>
                            <b>Created: </b>{{ formattime .Schema.Created }}
                        </li>
                        <li>
                            <b>Changed: </b>{{ formattime .Schema.Mtime }}
                        </li>
                        <li>
                            <b>Size: </b>{{ prettysize .Schema.TotalSize }}
                        </li>
                        <li>
                            <b>Dimensions: </b>
                            {{ .Schema.SizeX }} / 
                            {{ .Schema.SizeY }} / 
                            {{ .Schema.SizeZ }} nodes
                        </li>
                        <li>
                            <b>Parts: </b>{{ .Schema.TotalParts }}
                        </li>
                        <li>
                            <b>Downloads: </b>{{ .Schema.Downloads }}
                        </li>
                        <li>
                            <b>License: </b>
                            <select class="form-control" name="license">
                                <option value="CC0" {{if eq .Schema.License "CC0"}}selected{{end}}>CC0</option>
                                <option value="CC-BY-SA" {{if eq .Schema.License "CC-BY-SA"}}selected{{end}}>CC-BY-SA</option>
                                <option value="Proprietary" {{if eq .Schema.License "Proprietary"}}selected{{end}}>Proprietary</option>
                            </select>
                        </li>
                    </ul>    
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <textarea name="description" class="form-control" rows="10">{{.Schema.Description}}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Preview</h5>
                    <div class="text-center">
                        <img src="{{BaseURL}}/api/schema/{{.Schema.ID}}/screenshot" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{end}}