{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="{{.BaseURL}}" class="navbar-brand">Block exchange</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="{{.BaseURL}}about" class="nav-link">
                    <i class="fa fa-question"></i> About
                </a>
            </li>
            <li class="nav-item">
                <a href="{{.BaseURL}}login" class="nav-link">
                    <i class="fa fa-sign-in"></i> Login
                </a>
            </li>
            <li class="nav-item">
                <a href="{{.BaseURL}}mod" class="nav-link">
                    <i class="fa fa-download"></i> Mod/Installation
                </a>
            </li>
            <li class="nav-item">
                <a href="{{.BaseURL}}users" class="nav-link">
                    <i class="fa fa-users"></i> Users
                </a>
            </li>
            <li class="nav-item">
                <a href="{{.BaseURL}}search" class="nav-link">
                    <i class="fa fa-search"></i> Search
                </a>
            </li>
            {{if .IsAdmin}}
            <li class="nav-item">
                <a href="{{.BaseURL}}tags" class="nav-link">
                    <i class="fas fa-tags"></i> Tags
                </a>
            </li>
            {{end}}
        </ul>
        {{if .Claims}}
        <form class="d-flex">
            <div class="btn btn-light">
                <a href="{{.BaseURL}}profile">
                    <i class="fas fa-user"></i>
                    <span>
                        Logged in as <b>{{.Claims.Username}}</b>
                    </span>
                </a>
            </div>
        </form>
        {{end}}
    </div>
</nav>
{{end}}