{{define "schema_card"}}
<div class="card">
    <router-link :to="router_link">
        <img v-if="screenshot" :src="screenshot_url" class="card-img-top img-fluid">
        <div v-if="!screenshot" style="height: 240px; width: 360px"></div>
    </router-link>
    <div class="card-body">
        <h5 class="card-title">
            <p>
                <router-link :to="router_link">
                    {{ .Name }}
                </router-link>
            </p>
            <p>
                <small class="text-muted">by {{ .User.Name }}</small>
                &nbsp;
                <i v-if=".Schema.Starts > 0" class="fa-regular fa-star"></i>
                <span v-if=".Schema.stars > 0" class="badge bg-secondary rounded-pill">{{ .Stars }}</span>
            </p>
        </h5>
        <p>
            <tag-label v-for="tag in .Schema.tags" :tag_id="tag.tag_id"/>
        </p>
        <p>
            {{ .TotalSize }};
            {{ .SizeX }} / 
            {{ .SizeY }} / 
            {{ .SizeZ }} nodes
        </p>
    </div>
</div>
{{end}}