{{define "schema_details"}}
<ul>
    <li>
        <b>Created: </b>{{ formattime .Schema.Created }}
    </li>
    <li>
        <b>Changed: </b>{{ formattime .Schema.Mtime }}
    </li>
    <li>
        <b>Size: </b>{{ prettysize .Schema.TotalSize }}
    </li>
    <li>
        <b>Dimensions: </b>
        {{ .Schema.SizeX }} / 
        {{ .Schema.SizeY }} / 
        {{ .Schema.SizeZ }} nodes
    </li>
    <li>
        <b>Parts: </b>{{ .Schema.TotalParts }}
    </li>
    <li>
        <b>Downloads: </b>{{ .Schema.Downloads }}
    </li>
    <li>
        <b>License: </b>{{ .Schema.License }}
    </li>
</ul>
{{end}}