{{define "access_token"}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Manage tokens
            </div>
            <div class="card-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Token/Login</th>
                            <th>Created</th>
                            <th>Expires</th>
                            <th>Use-count</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{$username := .Username}}
                        {{$CSRFField := .CSRFField}}
                        {{range .Tokens}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>
                                <pre>/bx_login {{$username}} {{.Token}}</pre>
                            </td>
                            <td>{{formattime .Created}}</td>
                            <td>{{formattime .Expires}}</td>
                            <td>{{.UseCount}}</td>
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="action" value="remove_token">
                                    <input type="hidden" name="token_id" value="{{.ID}}">
                                    <input type="hidden" name="token_name" value="{{.Name}}">
                                    {{ $CSRFField }}
                                    <button class="btn btn-danger">
                                        <i class="fa fa-minus"></i>
                                        Remove
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                    <tfoot>
                        <form method="POST">
                            <tr>
                                <td>
                                    <label>Token-Name (usually the server-name you are using it on)</label>
                                    <input class="form-control" name="name" placeholder="Name">
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <label>Expiration (in days)</label>
                                    <input class="form-control" name="expire_days" placeholder="Expiration (days)" value="365">
                                </td>
                                <td></td>
                                <td>
                                    <input type="hidden" name="action" value="add_token">
                                    {{ .CSRFField }}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>
                                        Create
                                    </button>
                                </td>
                            </tr>
                        </form>
                    </tfoot>
                </table>
            </div>
        </div>
        {{if .Message}}
        <div class="alert alert-success">
            <i class="fa fa-circle-info"></i>
            {{.Message}}
        </div>
        {{end}}
        {{if .Err}}
        <div class="alert alert-danger">
            <i class="fa fa-triangle-exclamation"></i>
            {{.Err}}
        </div>
        {{end}}
    </div>
</div>
{{end}}
