{{define "title"}}Profile{{end}}
{{define "content"}}
{{if .Data.UpdateError}}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <b>Error:</b> {{.Data.UpdateError}}
        </div>
    </div>
</div>
{{end}}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Update profile
            </div>
            <div class="card-body">
                <form method="POST" action="profile">
                    <input type="text" class="form-control" name="username" placeholder="Username" value="{{.Data.User.Name}}">
                    <input type="text" class="form-control" name="mail" placeholder="E-Mail" value="{{if not .Data.User.Mail}}{{else}}{{.Data.User.Mail}}{{end}}">
                    <div class="alert alert-success">
                        E-Mail address is optional but strongly encouraged as it is the only recovery-option for local accounts
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-save"></i>
                        Update profile
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Profile info
            </div>
            <div class="card-body">
                <ul>
                    <li> ID: <b>{{.Data.User.ID}}</b></li>
                    <li> Name: <b>{{.Data.User.Name}}</b></li>
                    <li> Type: <span class="badge bg-success">{{.Data.User.Type}}</span></li>
                    <li> Role: <b>{{.Data.User.Role}}</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}