{{define "title"}}Edit schema{{end}}
{{define "content"}}
<script>
var formSubmitting = false;
var setFormSubmitting = function() { formSubmitting = true; };
window.onbeforeunload = function() { return formSubmitting ? null : "" };
</script>

<form method="POST" onsubmit="setFormSubmitting()">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" name="name" value="{{ .Data.Schema.Name }}"/>
        </div>
        <div class="col-md-6">
            <div class="btn-group float-end">
                <button class="btn btn-sm btn-success" name="action" value="save">
                    <i class="fa fa-save"></i> Save
                </button>
                <a class="btn btn-sm btn-warning" href="../{{.Data.Schema.Name}}">
                    <i class="fa fa-trash"></i> Abort
                </a>
                <button class="btn btn-sm btn-danger" name="action" value="delete">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    {{block "schema_details" .Data.Schema}}{{end}}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <textarea name="description" class="form-control" rows="10">{{.Data.Schema.Description}}</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Preview</h5>
                    <div class="text-center">
                        <img src="{{.BaseURL}}/api/schema/{{.Data.Schema.ID}}/screenshot" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{{end}}