{{define "title"}}Signup{{end}}
{{define "content"}}
<h3>Signup</h3>

<form method="POST">
    <input type="hidden" name="captcha_id" value="{{.Data.CaptchaID}}"/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username" value="{{.Data.Username}}"/>
                    </div>
                    <div class="mb-3">
                        <label>Mail (optional)</label>
                        <input type="text" class="form-control" name="mail" placeholder="Mail" value="{{.Data.Mail}}"/>
                    </div>
                    <div class="mb-3">
                        <label>Password (6 characters minimum)</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" value="{{.Data.Password}}"/>
                        <input type="password" class="form-control" name="password2" placeholder="Password (repeat)" value="{{.Data.Password2}}"/>
                    </div>
                    <div class="mb-3">
                        <img src="{{.BaseURL}}/api/captcha/{{.Data.CaptchaID}}.png" class="rounded mx-auto d-block" style="background-color: white;">
                    </div>
                    <div class="mb-3">
                        <label>Captcha</label>
                        <input type="text" class="form-control" name="captcha" placeholder="Captcha"/>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                        Submit
                    </button>
                    &nbsp;
                    {{if .Data.Err}}
                    <div class="alert alert-danger">
                        <i class="fa fa-triangle-exclamation"></i>
                        <b>Error:</b> {{.Data.Err}}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>
{{end}}