{{define "title"}}Tags{{end}}
{{define "content"}}
<h3>Tags</h3>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{ $baseurl := .BaseURL }}
        {{ range .Data.Tags}}
        <tr>
            <td>{{ .ID }}</td>
            <td>
                <span class="badge bg-success">
                    <i class="fas fa-tag"></i>
                    {{.Name}}
                </span>
            </td>
            <td>{{ .Description }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{end}}