{{define "title"}}Schema{{end}}
{{define "content"}}
{{ block "breadcrumb" .Data.Breadcrumb }}{{end}}

<div class="row">
    <div class="col-md-6">
        <h3>
            {{ .Data.Schema.Name }}
            <small class="text-muted">by {{ .Data.Schema.UserName }}</small>
            &nbsp;
            {{ if .Claims }}
                <form method="POST" style="display: inline;">
                {{ if .Data.Starred }}
                    <input type="hidden" name="action" value="unstar"/>
                    <button class="btn btn-xs btn-outline-primary">
                        <i class="fa fa-star" style="color: yellow;"></i>
                        <span class="badge bg-secondary rounded-pill">{{ .Data.Schema.Stars }}</span>
                        Unstar
                    </button>
                {{else}}
                    <input type="hidden" name="action" value="star"/>
                    <button class="btn btn-xs btn-outline-primary">
                        <i class="fa-regular fa-star"></i>
                        <span class="badge bg-secondary rounded-pill">{{ .Data.Schema.Stars }}</span>
                        Star
                    </button>
                {{end}}
                </form>
            {{else}}
                {{ if gt .Data.Schema.Stars 0 }}
                    <i class="fa fa-star" style="color: yellow;"></i>
                    <span class="badge bg-secondary rounded-pill">{{ .Data.Schema.Stars }}</span>
                {{else}}
                    <i class="fa-regular fa-star"></i>
                {{end}}
            {{end}}
        </h3>
    </div>
    <div class="col-md-6">
        {{ if .Claims }}
        {{ if eq .Data.Schema.UserName .Claims.Username}}
        <div class="btn-group float-end">
            <a class="btn btn-sm btn-secondary" href="./{{.Data.Schema.Name}}/edit">
                <i class="fa fa-edit"></i> Edit
            </a>
            <a class="btn btn-sm btn-danger" href="./{{.Data.Schema.Name}}/delete">
                <i class="fa fa-trash"></i> Delete
            </a>
        </div>
        {{end}}
        {{end}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Details</h5>
                <ul>
                    <li>
                        <b>Created: </b>{{ formattime .Data.Schema.Created }}
                    </li>
                    <li>
                        <b>Changed: </b>{{ formattime .Data.Schema.Mtime }}
                    </li>
                    <li>
                        <b>Size: </b>{{ prettysize .Data.Schema.TotalSize }}
                    </li>
                    <li>
                        <b>Dimensions: </b>
                        {{ .Data.Schema.SizeX }} / 
                        {{ .Data.Schema.SizeY }} / 
                        {{ .Data.Schema.SizeZ }} nodes
                    </li>
                    <li>
                        <b>Parts: </b>{{ .Data.Schema.TotalParts }}
                    </li>
                    <li>
                        <b>Downloads: </b>{{ .Data.Schema.Downloads }}
                    </li>
                    <li>
                        <b>License: </b>
                        {{if eq .Data.Schema.License "CC0"}}
                            <img src="{{.BaseURL}}/assets/pics/license_cc0.png">
                        {{else if eq .Data.Schema.License "CC-BY-SA"}}
                            <img src="{{.BaseURL}}/assets/pics/license_cc-by-sa.png">
                        {{else}}
                            {{ .Data.Schema.License }}
                        {{end}}
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Description
                    {{ if .Claims }}
                    {{ if eq .Data.Schema.UserName .Claims.Username}}
                    <div class="btn-group float-end">
                        <a class="btn btn-sm btn-secondary" href="./{{.Data.Schema.Name}}/edit">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>
                    {{end}}
                    {{end}}
                </h5>
                <pre>{{.Data.Schema.Description}}</pre>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Used mods</h5>
                <details>
                    <summary>Click to open</summary>
                    <ul>
                    {{range .Data.Schema.Mods}}
                        <li>
                            <span class="badge bg-primary">{{.}}</span>
                        </li>
                    {{end}}
                    </ul>
                </details>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Tags
                    {{ if .Claims }}
                    {{ if eq .Data.Schema.UserName .Claims.Username}}
                    <div class="btn-group float-end">
                        <a class="btn btn-sm btn-secondary" href="./{{.Data.Schema.Name}}/edit-tags">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </div>
                    {{end}}
                    {{end}}
                </h5>
                {{range .Data.Schema.Tags}}
                <span class="badge bg-success">
                    <i class="fas fa-tag"></i>
                    {{.}}
                </span>
                {{end}}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Preview</h5>
                <div class="text-center">
                    <img src="{{.BaseURL}}/api/schema/{{.Data.Schema.ID}}/screenshot" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Download</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card bg-secondary">
                            <div class="card-header">Online</div>
                            <div class="card-body">
                                <pre>/bx_pos1</pre>
                                <pre>/bx_allocate {{.Data.Schema.UserName}} {{.Data.Schema.Name}}</pre>
                                <pre>/bx_load {{.Data.Schema.UserName}} {{.Data.Schema.Name}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-secondary">
                            <div class="card-header">Offline</div>
                            <div class="card-body">
                                <a class="btn btn-sm btn-primary" href="{{.BaseURL}}api/export_bx/{{.Data.Schema.ID}}/{{.Data.Schema.Name}}.zip">
                                    <i class="fa fa-download"></i>
                                    Export as Blockexchange Schema
                                </a>
                                {{if lt .Data.Schema.TotalParts 100}}
                                &nbsp;
                                <a class="btn btn-sm btn-primary" href="{{.BaseURL}}api/export_we/{{.Data.Schema.ID}}/{{.Data.Schema.Name}}.we">
                                    <i class="fa fa-download"></i>
                                    Export as Worldedit Schema
                                </a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}