name: integration_test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
        submodules: recursive
    - name: Prepare files
      run: |
        cd public && npm ci && cd ..
    - name: Start  services
      run: |
        docker-compose up -d postgres
        sleep 10
        docker-compose up -d blockexchange
        sleep 20
    - name: Execute tests
      run: docker-compose up --exit-code-from mod-integration-test mod-integration-test
