{{define "title"}}Import{{end}}
{{define "content"}}
<h3>Upload Schematic File</h3>

<form method="POST" enctype="multipart/form-data">
    <h5>Block Exchange and WorldEdit format supported</h5>
    {{ .CSRFField }}
    <div class="row">
        <div class="col-md-4">
            <input type="file" name="file" accept=".zip,.we" class="form-control"/>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Import" class="btn btn-primary w-100"/>
        </div>
    </div>
</form>

<hr>
<div class="row">
    <div class="col-md-12">
        {{if .ImportError}}
        <div class="alert alert-danger">
            <i class="fa fa-triangle-exclamation"></i>
            <b>Error:</b> {{.ImportError}}
        </div>
        {{end}}
        {{if .ImportedSchema}}
        <div class="alert alert-success">
            <p>
                <b>Schema uploaded:</b>
                <a href="schema/{{Claims.Username}}/{{.ImportedSchema.Name}}">{{.ImportedSchema.Name}}</a>
            </p>
            <b>Statistics:</b>
            <ul>
                <li>Parts: {{.ImportedSchema.TotalParts}}</li>
                <li>Internal Size: {{ prettysize .ImportedSchema.TotalSize}}</li>
                <li>Imported filesize: {{ prettysize .FileSize}}</li>
            </ul>
        </div>
        {{end}}
    </div>
</div>

{{end}}