{{define "title"}}Login{{end}}
{{define "content"}}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
            Local login
            </div>
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                {{if Claims}}
                <form method="POST" style="display: inline;">
                    <input type="hidden" name="action" value="logout"/>
                    <button type="submit" class="btn btn-secondary">Logout</button>
                </form>
                <a href="{{BaseURL}}profile" class="btn btn-primary">
                    <i class="fas fa-user"></i>
                    Profile
                </a>
                {{end}}
                {{if not Claims}}
                <form method="POST">
                    <input type="hidden" name="action" value="login"/>
                    <input type="text" name="username" placeholder="Username" value="{{.Username}}" class="form-control {{if .LoginError}}is-invalid{{end}}"/>
                    <input type="password" name="password" placeholder="Password" value="{{.Password}}" class="form-control {{if .LoginError}}is-invalid{{end}}"/>
                    {{if .LoginError}}
                    <div class="alert alert-danger">
                        <i class="fa fa-triangle-exclamation"></i>
                        Invalid username or password!
                    </div>
                    {{end}}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                {{end}}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Sign up
            </div>
            <div class="card-body">
                <a href="{{BaseURL}}signup" class="btn btn-secondary">
                    Register
                </a>
            </div>
        </div>
        {{if .ExternalLogin}}
        <div class="card">
            <div class="card-header">
                External login
            </div>
            <div class="card-body">
                {{if .DiscordOauthLink}}
                <a href="{{.DiscordOauthLink}}" class="btn btn-secondary">
                    <i class="fab fa-discord"></i>
                    Login with Discord
                </a>
                &nbsp;
                {{end}}
                {{if .GithubOauthLink}}
                <a href="{{.GithubOauthLink}}" class="btn btn-secondary">
                    <i class="fab fa-github"></i>
                    Login with Github
                </a>
                &nbsp;
                {{end}}
                {{if .MesehubOauthLink}}
                <a href="{{.MesehubOauthLink}}" class="btn btn-secondary">
                    <img src="assets/pics/default_mese_crystal.png"/>
                    Login with Mesehub
                </a>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}